.c0{color:#000}
.c1{color:#fff}
.c2{color:rgba(52,58,66,.75)}
.c3{color:#02A3E4}
.c4{color:#FC7F42}
.c5{color:#F94B42}
.c6{color:rgba(52,58,66,.45)}
.c7{color:green}
.bc0{background:#fff}
.bc1{background:#02ADF6}
    