img{
  margin:0;
  padding:0
  }
.me_content{
    margin:20px 20px 90px;
}
.me_content1{
    margin:20px 0 90px 0 ;
}
.me_block{
    margin-left:20px;
    margin-right:20px;
}
.ell{
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.df{
    display:flex;
}
.bf1{
    flex:1
}
.fdc{
    flex-direction:column
}
.ac{
    align-items:center;
}
.as{
    align-items:flex-start;
}
.ae{
    align-items:flex-end;
}
.jc{
    justify-content:center
}
.js{
    justify-content:flex-start
}
.je{
    justify-content:flex-end
}
.jb{
    justify-content : space-between
}
.ja{
    justify-content : space-around
}
::-webkit-input-placeholder{
  color: rgba(52,58,66,0.45);
  font-size: 14px;
}
.wbba{    word-break: break-all;}
.f12{font-size: 12px;}
.f13{font-size: 13px;}
.f14{font-size: 14px;}
.f15{font-size: 15px;}
.f16{font-size: 16px;}
.f17{font-size: 17px;}
.f18{font-size: 18px;}
.f19{font-size: 19px;}
.f20{font-size: 20px;}
.me-select-btns{
    font-size:16px;
   padding:10px 15px;
 }
 .me-select-cancel{
   color: #969799;
 }
 .me-select-confirm{
   color: #576b95;
 }
 /* 图片 */
.bs1{box-shadow: 0 2px 8px 0 rgba(52,58,66,0.12);}
.bor_50{
  border-radius:50%
}
.bb{
  border-bottom:1px solid #dedede
  }
/* 边距 */
for num in (0..70)
  .m{num}
    margin: num * 1px
  .ml{num}
    margin-left: num * 1px
  .mr{num}
    margin-right: num * 1px
  .mt{num}
    margin-top: num * 1px
  .mb{num}
    margin-bottom: num * 1px
  .p{num}
    padding: num * 1px
  .pl{num}
    padding-left: num * 1px
  .pr{num}
    padding-right: num * 1px
  .pt{num}
    padding-top: num * 1px
  .pb{num}
    padding-bottom: num * 1px
  .h{num}
    height: num * 1px
  .w{num}
    width: num * 1px
  .br{num}
    border-radius: num * 1px



