{{#isContainer}}List<{{{items.dataType}}}>{{/isContainer}}{{^isContainer}}{{#isEnum}}{{nameInCamelCase}}{{/isEnum}}{{^isEnum}}{{#isDate}}java.util.Date{{/isDate}}{{^isDate}}{{{dataType}}}{{/isDate}}{{/isEnum}}{{/isContainer}}{{^required}}?{{/required}}